#div-one {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
#div-two {
    width: 9pt;
    height: 9pt;
    background-color: aqua;
    }

    #div-three {
        width: 5in;
        height: 5in;
        background-color: aliceblue;
    }

    #div-four {
        width: 10cm;
        height: 10cm;
        background-color: blue;
    }

    #div-five {
        width: 2pc;
        height: 2pc;
        background-color: brown;
    }

    #div-six {
        width: 3mm;
        height: 3mm;
        background-color: red;
    }